.header{
  background-color: rgb(178, 178, 178);
  padding:0.5rem;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

.ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  transform: translateY(6px);
}

.ul li{
  margin: 0 5px;
  text-decoration: none;
  padding: 4px;
}

.ul li a{
  text-decoration: none;
  color: white;
}

.ul li a:hover{
  background-color: red;
  border-radius: 20px;
  padding:5px 10px;
  box-shadow: 1px 1px 10px red;
}
